/*font sizing*/
.custom-grid-container :is(h1, h2, h3, h4, h5, h6),
.custom-collection-grid :is(h1, h2, h3, h4, h5, h6),
.simple-product-slider :is(h1, h2, h3, h4, h5, h6),
.custom-product-slider-container :is(h1, h2, h3, h4, h5, h6),
.custom-banner-section :is(h1, h2, h3, h4, h5, h6),
.custom-one-half-slider :is(h1, h2, h3, h4, h5, h6),
.custom-video-grid-container :is(h1, h2, h3, h4, h5, h6),
.custom-image-with-text :is(h1, h2, h3, h4, h5, h6){
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--heading-text-transform);
  line-height: 1.1;
}

.custom-grid-container h1,
.custom-collection-grid h1,
.custom-video-grid-container h1,
.custom-image-with-text h1,
.custom-product-slider-container h1,
.simple-product-slider h1,
.custom-one-half-slider h1,
.custom-banner-section h1 {
  font-size: var(--text-h1);
}

.custom-grid-container h2,
.custom-collection-grid h2,
.simple-product-slider h2,
.custom-product-slider-container h2,
.custom-video-grid-container h2,
.custom-image-with-text h2,
.custom-one-half-slider h2,
.custom-banner-section h2 {
  font-size: var(--text-h2);
}

.custom-grid-container h3,
.custom-collection-grid h3,
.simple-product-slider h3,
.custom-product-slider-container h3,
.custom-video-grid-container h3,
.custom-image-with-text h3,
.custom-one-half-slider h3,
.custom-banner-section h3 {
  font-size: var(--text-h3);
}

.custom-grid-container h4,
.custom-collection-grid h4,
.custom-product-slider-container h4,
.simple-product-slider h4,
.custom-video-grid-container h4,
.custom-image-with-text h4,
.custom-one-half-slider h4,
.custom-banner-section h4 {
  font-size: var(--text-h4);
}

.custom-grid-container h5,
.custom-collection-grid h5,
.simple-product-slider h5,
.custom-product-slider-container h5,
.custom-video-grid-container h5,
.custom-image-with-text h5,
.custom-one-half-slider h5,
.custom-banner-section h5 {
  font-size: var(--text-h5);
}

.custom-grid-container h6,
.custom-collection-grid h6,
.simple-product-slider h6,
.custom-product-slider-container h6,
.custom-video-grid-container h6,
.custom-image-with-text h6,
.custom-one-half-slider h6,
.custom-banner-section h6 {
  font-size: var(--text-h6);
}

/* bannar */
.container-fluid {
  width: 100%;
}

.custom-banner-section {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.custom-banner-section .custom-banner {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.custom-banner-section .custom-banner .content {
  margin-top: 5rem;
}
.custom-banner-section .custom-banner .btn-group {
  margin-top: 9rem;
  margin-bottom: 2rem;
}
.btn-group .btn-mt-5{
  margin-top: 0.5rem;
}
.btn-group .custom-btn {
  padding: 7px 7px;
  min-width: 160px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  color: black;
  margin-right: 0.7rem;
  background-color: #fff;
}

/* image-with-text */
.custom-image-with-text-content {
  padding: 20px;
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
}

.custom-image-with-text-img {
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
}

.custom-image-with-text-img img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.custom-image-with-text-paragraph {
  margin-bottom: 15px;
}

.custom-image-with-text-btn {
  display: inline-block;
  padding: 7px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: -webkit-fill-available;
  text-decoration: none;
  font-size: 18px;
  margin: 20px 0;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
/* collection grid */
.custom-collection-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}
.custom-collection-grid-item {
  position: relative;
  overflow: hidden;
}
.custom-collection-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}
.custom-collection-grid-item:hover img {
  transform: scale(1.1);
}
.custom-collection-grid-item .custom-collection-grid-title {
  position: absolute;
  top: 20px;
  z-index: 1;
  left: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: underline;
}
.custom-collection-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000036;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.custom-collection-grid-overlay {
  opacity: 1;
}

/* custom grid */
.custom-grid-container .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
}
.custom-grid-container .card > :nth-child(2) > :nth-child(1) button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.custom-grid-container .card > :nth-child(2) {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-grid-container .card > :nth-child(1) {
  width: 100%;
}
.custom-grid-container .card > :nth-child(1),
.custom-grid-container .card > :nth-child(2) {
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}
.custom-grid-container .title {
  text-align: center;
}
.custom-grid-container .title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 30px;
}
.custom-grid-container {
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

/* custom-video-grid */
.custom-video-grid-container .section-heading .text {
  text-align: center;
  padding-top: 1rem;
  color: #69b3e7;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

/* swiper css code */
.custom-product-slider-container .card-image img {
  filter: drop-shadow(-44px 30px 3px #a09e9e);
}
.custom-product-slider-container .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.7rem;
  /* max-width: 25rem; */
}

.custom-product-slider-container .card-image img {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.custom-product-slider-container .card-body h4 {
  font-size: 1.5rem;
}

.custom-product-slider-container .card-body .price {
  margin-top: 2.5rem;
}

.custom-product-slider-container .card-body .card-btn {
  background-color: #fff;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.custom-product-slider-container .card-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.custom-product-slider-container .card-icons img {
  width: 1rem;
  display: block;
}
.custom-product-slider-container .fruits-card-section {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1.4rem;
}
.fruits-icons span {
  cursor: pointer;
}
.fruits-icons {
  padding: 18px 10px 0px 10px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.custom-product-slider-container .swiper-wrapper {
  margin-bottom: 2.5rem;
}

.custom-product-slider-container .swiper-controller {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.custom-product-slider-container .button-prev,
.custom-product-slider-container .button-next {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.custom-product-slider-container .button-prev svg,
.custom-product-slider-container .button-next svg {
  width: 1.2rem;
}

.custom-product-slider-container .swiper-pagination {
  transition: all 0.5s;
  position: static;
  width: auto !important;
}

.custom-product-slider-container
  .swiper-pagination
  .swiper-pagination-bullet-active {
  width: 1.5rem !important;
  border-radius: 5px !important;
  background-color: #333;
}

/* custom one half slider */
.custom-one-half-slider .splide__pagination {
  display: none;
}
.one-half-slider-card .link-button {
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  margin: 10px 0;
}
.one-half-slider-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* / scrolling text */
.custom-scrolling-text {
  padding-left: 0;
  padding-right: 0;
}

/* video */
.custom-video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Darken background */
  z-index: 1000;
  overflow: auto;
}

.custom-video-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  /* vdideo slider */
  .custom-video-popup-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 90%;
  }
  /* bannar */
  .custom-banner-section .custom-banner .content {
    margin-top: 6rem;
  }
  .custom-banner-section .custom-banner .btn-group {
    margin-top: 18rem;
  }
  /* image-with-text */
  .custom-image-with-text-content,
  .custom-image-with-text-img {
    flex-basis: 100%;
    max-width: 100%;
  }
  /* collection-grid */
  .custom-collection-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
  }
  /* custom grid */
  .custom-grid-container {
    grid-template-columns: repeat(1, 1fr); /* Single column layout for mobile */
    gap: 1rem;
  }
  .custom-grid-container .card > div {
    font-size: 11px;
  }
  .custom-grid-container .card > :nth-child(2) {
    padding: 10px;
    gap: 1rem;
  }
  .custom-grid-container .card:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }
  .custom-grid-container .card:nth-child(odd) {
    display: flex;
    flex-direction: row;
  }
  .custom-grid-container .card > * {
    width: 100%;
  }
  .custom-grid-container .card {
    gap: 0.5rem;
  }
  /* swiperjs slider code */
  .custom-product-slider-container .fruits-card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  /* collection-grid */
  .custom-collection-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
